footer{
    background: var(--color-primary);
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 0.7rem;
}
footer a{
    color: var(--bg-color);

}

.footer__logo{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}
.permalink{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}

.footer__socials{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.footer__socials a{
    background: var(--bg-primary);
    color: var(--color-foreground);
    padding: 0.8rem;
    border-radius: 100%;
    display: flex;
    border: 1px solid transparent;
}

.footer__socials a:hover{
    background: transparent;
    color: var(--bg-primary);
    border-color: var(--bg-primary);
}

.footer__copyright{
    margin-bottom: 4rem;
    color: var(--bg-primary);
}